
$Blue: #67C4E8;
$Grey: #3D3D3D;

.logButton {
    width: 150px;
    background-color: blue;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
}
body {
  background:$Blue;
}

.menu {
  margin: 2rem 0;
  width: 5rem;
  cursor: pointer;
  position: fixed;
  left: 300px;
  
}

ul {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

li {
  background:$Grey;
  border-radius:1rem;
  display:block;
  height: .8rem;
  margin:0 0 .5rem;
  position:relative;
  top:0;
  width:100%;
  &:nth-child(1) {
    -webkit-animation: bounce1 4s ease-in;
    animation: bounce1 4s ease-in;
  }
  &:nth-child(2) {
    -webkit-animation: bounce2 4s ease-in;
    animation: bounce2 4s ease-in;
  }
  &:nth-child(3) {
    -webkit-animation: bounce3 4s ease-in;
    animation: bounce3 4s ease-in;
  }
}

@-webkit-keyframes bounce1 {
  0%   {top:-15rem;width:2rem;}
  5%   {top:-15rem;width:2rem;}
  10%  {top:0rem;width:2rem;}
  15%  {top:-2rem;width:2rem;}
  20%  {top:0rem;width:2rem;}
  25%  {top:-1.5rem;width:2rem;}
  30%  {top:0rem;width:2rem;}
  50%  {top:0rem;width:2rem;}
  60%  {top:0rem;width:100%;}
  100% {top:0rem;width:100%;}
}
@keyframes bounce1 {
  0%   {top:-15rem;width:2rem;}
  5%   {top:-15rem;width:2rem;}
  10%  {top:0rem;width:2rem;}
  15%  {top:-2rem;width:2rem;}
  20%  {top:0rem;width:2rem;}
  25%  {top:-1.5rem;width:2rem;}
  30%  {top:0rem;width:2rem;}
  50%  {top:0rem;width:2rem;}
  60%  {top:0rem;width:100%;}
  100% {top:0rem;width:100%;}
}
@-webkit-keyframes bounce2 {
  0%   {top:-15rem;width:2rem;}
  20%   {top:-15rem;width:2rem;}
  25%  {top:0rem;width:2rem;}
  30%  {top:-2rem;width:2rem;}
  35%  {top:0rem;width:2rem;}
  40%  {top:-1.5rem;width:2rem;}
  45%  {top:0rem;width:2rem;}
  55%  {top:0rem;width:2rem;}
  65%  {top:0rem;width:100%;}
  100% {top:0rem;width:100%;}
}
@keyframes bounce2 {
  0%   {top:-15rem;width:2rem;}
  20%   {top:-15rem;width:2rem;}
  25%  {top:0rem;width:2rem;}
  30%  {top:-2rem;width:2rem;}
  35%  {top:0rem;width:2rem;}
  40%  {top:-1.5rem;width:2rem;}
  45%  {top:0rem;width:2rem;}
  55%  {top:0rem;width:2rem;}
  65%  {top:0rem;width:100%;}
  100% {top:0rem;width:100%;}
}
@-webkit-keyframes bounce3 {
  0%   {top:-15rem;width:2rem;}
  35%   {top:-15rem;width:2rem;}
  40%  {top:0rem;width:2rem;}
  45%  {top:-2rem;width:2rem;}
  50%  {top:0rem;width:2rem;}
  55%  {top:-1.5rem;width:2rem;}
  60%  {top:0rem;width:2rem;}
  60%  {top:0rem;width:2rem;}
  70%  {top:0rem;width:100%;}
  100% {top:0rem;width:100%;}
}
@keyframes bounce3 {
  0%   {top:-15rem;width:2rem;}
  35%   {top:-15rem;width:2rem;}
  40%  {top:0rem;width:2rem;}
  45%  {top:-2rem;width:2rem;}
  50%  {top:0rem;width:2rem;}
  55%  {top:-1.5rem;width:2rem;}
  60%  {top:0rem;width:2rem;}
  60%  {top:0rem;width:2rem;}
  70%  {top:0rem;width:100%;}
  100% {top:0rem;width:100%;}
}